---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import MootCourtIntro from '../components/MootCourtIntro.astro';
import MootCourt from '../components/MootCourt.astro';
import Programs from '../components/Programs.astro';
import Publications from '../components/Publications.astro';
import Contact from '../components/Contact.astro';
---

<Layout>
  <Header />
  <main>
    <Hero />
    <About />
    <MootCourtIntro />
    <MootCourt />
    <Programs />
    <Publications />
    <Contact />
  </main>
  <Footer />
</Layout>